@using Nop.Web.Models.Subscriptions


@model Plan

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-subscription-checkout-page");

    var price = double.Parse(Model.Packages.FirstOrDefault().Price.ToString());
    var price_vat = double.Parse(price.ToString()) + (double.Parse(price.ToString()) * 0.15);
    var price_vat_val = (double.Parse(price.ToString()) * 0.15);
    var discount_val = (double.Parse(price.ToString()) * 0.10);
    var price_discount = double.Parse(price.ToString()) - (double.Parse(price.ToString()) * 0.10);
    var price_discount_vat_val = (double.Parse(price_discount.ToString()) * 0.15);

    var price_discount_vat = double.Parse(price_discount.ToString()) + (double.Parse(price_discount.ToString()) * 0.15);

}


<style>
    .html-subscription-checkout-page .master-wrapper-content {
        padding-top: 0px;
    }

    .step-items-icon {
        align-self: stretch;
        flex: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }

    .select-plan {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.17px;
        line-height: 26.1px;
    }

    .steps {
        width: 101px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-base);
        text-align: left;
        color: var(--Primary-400);
    }

    .content-child {
        align-self: stretch;
        height: 1.5px;
        position: relative;
        border-top: 1.5px solid #b7b7b7;
        box-sizing: border-box;
    }

    .content1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 50px 0px 0px;
        box-sizing: border-box;
        min-width: 92px;
        height: 1.5px;
    }

    .steps1 {
        width: 101px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--gap-base);
        z-index: 2;
    }

    .content2 {
        width: 141px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 50px 0px 0px;
        box-sizing: border-box;
    }

    .steps2 {
        width: 101px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-base);
        z-index: 3;
    }

    .main {
        width: 713px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: var(--gap-13xl);
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        font-size: var(--font-size-mid-4);
        color: var(--Neutral-400);
        font-family: var(--font-montserrat);
        margin: auto;
    }


    .discount-code,
    .enter-your-coupon {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 28px;
    }

    .discount-code {
        margin: 0;
        height: 48px;
        font-size: inherit;
        font-weight: 600;
        font-family: inherit;
        display: flex;
        align-items: center;
    }

    .enter-your-coupon {
        font-size: var(--font-size-base);
        color: var(--Neutral-400);
        margin-top: -4px;
    }

    .coupon-field,
    .username-component {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .coupon-field {
        width: max-content;
        flex: 1;
        flex-direction: column;
    }

    .username-component {
        width: 100%;
        border: 0 !important;
        outline: 0;
        background-color: transparent;
        flex-direction: row;
        font-family: var(--font-poppins);
        font-weight: 500;
        font-size: var(--font-size-mid);
        color: var(--Neutral-300);
        margin-top: -14px;
    }

    .vuesaxlinearstar-icon5 {
        width: 21px;
        position: relative;
        height: 21px;
        display: none;
    }

    .component-665 {
        height: 49px;
        width: 619px;
        border-radius: 34px;
        background-color: var(--color-white);
        border: 1px solid var(--Neutral-400);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--padding-sm-5) var(--padding-xl);
    }

    .vuesaxlinearsearch-normal-icon2 {
        width: 24px;
        position: relative;
        height: 24px;
        display: none;
    }

    .post-ad2 {
        position: relative;
        font-size: var(--font-size-base);
        letter-spacing: 0.13px;
        line-height: 19.5px;
        text-transform: capitalize;
        font-family: var(--font-open-sans);
        color: var(--color-white);
        text-align: center;
    }

    .component-284 {
        cursor: pointer;
        border: 0;
        padding: var(--padding-mini) var(--padding-12xl);
        background-color: var(--Primary-400);
        height: 51px;
        width: 210px;
        border-radius: var(--br-11xl);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        gap: var(--gap-9xs);
    }

    .component-66-parent,
    .input-fields-wrapper,
    .input-fields1 {
        align-self: stretch;
        display: flex;
        justify-content: flex-start;
        max-width: 100%;
    }

    .component-66-parent {
        flex-direction: row;
        align-items: center;
        gap: var(--gap-base);
    }

    .input-fields-wrapper,
    .input-fields1 {
        align-items: flex-start;
    }

    .input-fields1 {
        flex: 1;
        flex-direction: column;
        gap: 14px;
    }

    .input-fields-wrapper {
        flex-direction: row;
        padding: 0 var(--padding-3xs);
        box-sizing: border-box;
        text-align: left;
        font-size: var(--Sub-Headline-1-size);
        color: var(--Text);
        font-family: var(--Sub-Headline-1);
    }

    .order-summary {
        margin: 0;
        width: 179px;
        height: 48px;
        position: relative;
        font-size: inherit;
        letter-spacing: -0.02em;
        line-height: 28px;
        font-weight: 600;
        font-family: inherit;
        display: flex;
        align-items: center;
    }

    .summary-header-child {
        width: 845px;
        position: relative;
        border-top: 1px solid var(--Stroke);
        box-sizing: border-box;
        height: 1px;
    }

    .summary-header {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--gap-5xs);
    }

    .description,
    .semi-premium-net {
        align-self: stretch;
        position: relative;
        text-transform: capitalize;
    }

    .description {
        letter-spacing: -0.35px;
        line-height: var(--font-size-xl);
    }

    .semi-premium-net {
        font-size: var(--font-size-mid);
        line-height: 25px;
        font-weight: 500;
        color: var(--Neutral-600);
    }

    .order-description {
        width: 465px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--gap-xs);
        max-width: 100%;
        z-index: 3;
    }

    .line-icon {
        width: 844px;
        height: 0.3px;
        position: relative;
        max-height: 100%;
    }

    .subtotal,
    .vat {
        position: relative;
        letter-spacing: -0.35px;
        line-height: var(--font-size-xl);
        text-transform: capitalize;
        display: flex;
        align-items: center;
    }

    .vat {
    }

    .price-labels {
        flex-direction: column;
        gap: var(--gap-mid);
    }

    .price-labels,
    .pricing-breakdown,
    .pricing-details {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .pricing-breakdown {
        flex-direction: row;
        padding: 0 0 0 var(--padding-12xs);
    }

    .pricing-details {
        flex-direction: column;
        gap: 31.5px;
    }

    .div24,
    .sar42,
    .sar43 {
        position: relative;
        line-height: 25px;
        text-transform: capitalize;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .div24,
    .sar43 {
    }

    .sar43 {
        flex-shrink: 0;
    }

    .amount-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 var(--padding-xs);
    }

    .sar44 {
        width: 143px;
        position: relative;
        font-size: var(--Sub-Headline-1-size);
        line-height: 25px;
        text-transform: capitalize;
        display: flex;
        color: var(--Primary-400);
        align-items: center;
        justify-content: flex-end;
    }

    .currency-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: var(--gap-xs);
        text-align: right;
        font-size: var(--font-size-lg);
        color: var(--Neutral-600);
    }

    .order-description-parent,
    .order-pricing {
        width: 844px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--gap-xl);
        max-width: 100%;
    }

    .order-description-parent {
        height: 278px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--gap-5xl);
        font-size: var(--font-size-base);
        color: var(--color-dimgray-200);
        font-family: var(--font-montserrat);
    }

    .summary-container {
        align-self: stretch;
        gap: var(--gap-13xl);
    }

    .root5,
    .summary-container,
    .summary-container-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .summary-container-wrapper {
        align-self: stretch;
        padding: var(--padding-3xs);
        box-sizing: border-box;
        text-align: left;
        font-size: var(--Sub-Headline-1-size);
        color: var(--Text);
        font-family: var(--Sub-Headline-1);
    }

    .root5 {
        width: 760px;
        gap: var(--gap-base);
        line-height: normal;
        letter-spacing: normal;
        margin-top: 55px;
    }

    .payment {
        width: 207px;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 28px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .payment-separator {
        width: 503px;
        height: 1px;
        position: relative;
        border-top: 1px solid var(--Neutral-300);
        box-sizing: border-box;
    }

    .component-331-inner,
    .payment-parent {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .payment-parent {
        flex-direction: column;
        gap: var(--gap-5xs);
    }

    .component-331-inner {
        width: 512px;
        height: 56px;
        flex-direction: row;
        padding: 0 0 0 var(--padding-3xs);
        box-sizing: border-box;
    }

    .pay-with {
        width: 92px;
        position: relative;
        line-height: var(--font-size-xs);
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .component-330-icon {
        height: 19.6px;
        width: 19.6px;
        position: relative;
    }

    .card1 {
        position: relative;
        line-height: 28.8px;
        font-weight: 500;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--gap-2xs-5);
        border: 0 !important;
    }

    .component-330 {
        cursor: pointer;
        margin: 0;
        height: 19.6px;
        width: 19.6px;
        position: relative;
    }

    .bank {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--gap-2xs-5);
        color: var(--Stroke);
    }

    .card-parent {
        flex-direction: row;
        gap: 24.8px;
        font-size: var(--font-size-xl-9);
    }

    .card-parent,
    .component-331-child,
    .pay-with-parent {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .pay-with-parent {
        flex-direction: column;
        gap: var(--gap-base);
    }

    .pay-with-parent_otp {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        gap: var(--gap-base);
        margin-top: 20px;
    }

    .component-331-child {
        width: 193px;
        height: 60px;
        flex-direction: row;
        padding: 0 0 0 var(--padding-3xs);
        box-sizing: border-box;
        font-size: var(--Sub-Headline-3-Bold-size);
        color: var(--Text);
    }

    .card-number,
    .card-number-placeholder {
        align-self: stretch;
        position: relative;
        line-height: var(--font-size-xl);
    }

    .card-number-placeholder {
        width: max-content;
        border: 0;
        outline: 0;
        font-weight: 500;
        font-family: var(--font-poppins);
        font-size: var(--Body-size);
        background-color: transparent;
        line-height: var(--font-size-2xl);
        color: var(--Neutral-600);
        white-space: pre-wrap;
        text-align: left;
        display: inline-block;
    }

    .card-number-icon,
    .card-number-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-number-input {
        width: 157px;
        justify-content: flex-start;
        gap: var(--gap-5xs);
    }

    .card-number-icon {
        height: 34px;
        width: 19.6px;
        justify-content: flex-end;
        padding: 0 0 14.4px;
        box-sizing: border-box;
    }

    .card-number-input-parent {
        width: 523px;
        /*         height: 85px;
     */ border-radius: var(--br-mini);
        background-color: var(--Neutral-50);
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        padding: var(--padding-lg) var(--padding-7xl);
        box-sizing: border-box;
        gap: 286px;
        z-index: 2;
    }

    .card-number1 {
        width: 129px;
        position: relative;
        line-height: var(--font-size-3xl);
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .username-dropdown {
        width: 100%;
        border: 0;
        outline: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: var(--font-poppins);
        font-weight: 500;
        font-size: var(--font-size-mid);
        color: var(--Neutral-300);
        text-align: center;
    }

    .vuesaxlinearstar-icon {
        width: 21px;
        position: relative;
        height: 21px;
        display: none;
    }

    .component-66,
    .username-input-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .component-66 {
        width: 477px;
        height: 49px;
        border-radius: var(--br-15xl);
        background-color: var(--color-white);
        border: 1px solid var(--Neutral-400);
        box-sizing: border-box;
        flex-direction: row;
        padding: var(--padding-sm-5) var(--padding-xl);
    }

    .username-input-container {
        flex-direction: column;
        gap: var(--gap-2xs-5);
    }

    .expiration-date {
        position: relative;
        line-height: var(--font-size-3xl);
        font-weight: 500;
    }

    .component-661 {
        width: 224px;
        height: 49px;
        border-radius: var(--br-15xl);
        background-color: var(--color-white);
        border: 1px solid var(--Neutral-400);
        box-sizing: border-box;
        padding: var(--padding-sm-5) var(--padding-xl);
    }

    .component-661_otp {
        width: 53px;
        height: 53px;
        border-radius: 10px;
        background-color: var(--color-white);
        border: 1px solid var(--Neutral-400);
        box-sizing: border-box;
        padding: var(--padding-sm-5) var(--padding-xl);
    }

    .component-661,
    .component-662,
    .security-details-inputs-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .component-662 {
        width: 235px;
        height: 49px;
        border-radius: var(--br-15xl);
        background-color: var(--color-white);
        border: 1px solid var(--Neutral-400);
        box-sizing: border-box;
        padding: var(--padding-sm-5) var(--padding-xl);
    }

    .security-details-inputs-parent {
        gap: 18px;
    }

    .security-details-inputs-parent_otp {
        display: block;
    }

    .component-132 {
        margin: 0;
        height: 20.7px;
        width: 20.7px;
        position: relative;
    }

    .save-card-details-child {
        width: 19px;
        position: relative;
        border-radius: 2px;
        border: 1.5px solid var(--Stroke);
        box-sizing: border-box;
        height: 19px;
        overflow: hidden;
        flex-shrink: 0;
        display: none;
    }

    .save-card-details1 {
        position: relative;
        line-height: var(--font-size-xl);
    }

    .save-card-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--gap-base);
    }

    .component-132-parent,
    .username-input {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .component-132-parent {
        flex-direction: row;
        gap: var(--gap-3xs);
        font-size: var(--Body-size);
        color: var(--Stroke);
    }

    .username-input {
        flex-direction: column;
        gap: var(--gap-5xl);
    }

    .vuesaxlinearsearch-normal-icon {
        width: 24px;
        position: relative;
        height: 24px;
        display: none;
    }

    .post-ad {
        position: relative;
        letter-spacing: 0.13px;
        line-height: 19.5px;
        text-transform: capitalize;
    }

    .all-wrapper .component-283 {
        width: 506px;
        height: 51px;
        border-radius: var(--br-11xl);
        background-color: var(--Primary-400);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: var(--padding-mini) var(--padding-12xl);
        box-sizing: border-box;
        gap: var(--gap-9xs);
    }

    .your-personal-data {
        width: 475px;
        position: relative;
        font-size: var(--Body-Small-size);
        line-height: var(--font-size-3xl);
        font-family: var(--Sub-Headline-1);
        color: var(--Stroke);
        text-align: left;
        display: inline-block;
    }

    .component-283-parent,
    .username-input-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .component-283-parent {
        gap: var(--gap-3xs);
        text-align: center;
        font-size: var(--Body-size);
        color: var(--color-white);
        font-family: var(--font-open-sans);
    }

    .username-input-parent {
        width: 511px;
        gap: var(--gap-base);
        flex-shrink: 0;
    }

    .frame-wrapper {
        width: 513px;
        height: 378.7px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0 var(--padding-11xs) 0 0;
        box-sizing: border-box;
        z-index: 1;
        font-size: var(--Sub-Headline-3-Bold-size);
        color: var(--Text);
    }

    .component-331,
    .frame-parent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        font-family: var(--Sub-Headline-1);
    }

    .frame-parent {
        width: 523px;
        height: 490.7px;
        align-items: flex-end;
        gap: var(--gap-8xl);
        font-size: var(--Body-Small-size);
        color: var(--Neutral-300);
    }

    .component-331 {
        width: 598px;
        height: 790px;
        border-radius: var(--br-11xl);
        background-color: var(--color-white);
        border: 1px solid var(--Neutral-300);
        box-sizing: border-box;
        max-width: 100%;
        overflow: hidden;
        align-items: flex-start;
        padding: 48px 37px 34.3px 38px;
        gap: 36px;
        font-size: var(--Sub-Headline-1-size);
        color: var(--Neutral-700);
        transform: scale(0.8467);
    }

    .all-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 66px;
    }

        .all-wrapper input[type="text"] {
            border: 0px !important;
            margin-top: -15px !important;
        }

    .title-page {
        width: 104%;
        margin-left: -2%;
        height: 104px;
        background-color: #efefef;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #1C193A;
        vertical-align: middle;
        margin-bottom: 25px;
        padding: 27px;
    }

        .title-page img {
            vertical-align: middle !important;
        }

    input[type="radio"]:checked + label:before, input[type="checkbox"]:checked ~ label:before {
        border: 1px solid #383375;
        background-color: #383375;
        width: 16px;
        height: 16px;
    }

    input[type="radio"] + label:before, input[type="checkbox"] ~ label:before {
        width: 16px;
        height: 16px;
    }

    input[type="radio"]:checked + label, input[type="checkbox"]:checked ~ label {
        color: #383375;
    }

    input[type="radio"] + label, input[type="checkbox"] ~ label {
        color: #383375;
    }

    .hide {
        display: none;
    }

    .timer {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        align-items: center;
        text-align: center;
        letter-spacing: -0.35px;
        text-transform: uppercase;
        color: #6F6F6F;
        /* Inside auto layout */
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .resend {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        align-items: center;
        text-align: center;
        letter-spacing: -0.35px;
        text-decoration-line: underline;
        text-transform: capitalize;
        color: #383375;
        width: max-content;
        margin: auto;
        margin-bottom: 30%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="title-page">
    <img src="~/images/arrow-left.png" />
    <span>
        Checkout

    </span>
</div>
<div class="main">
    <div class="steps">
        <img class="step-items-icon"
             loading="lazy"
             alt=""
             src="images/Frame 1918723851.png" />

        <b class="select-plan">Select Plan</b>
    </div>
    <div class="content1">
        <div class="content-child"></div>
    </div>
    <div class="steps1">
        <img class="step-items-icon"
             loading="lazy"
             alt=""
             src="images/Frame 1918723853.png" />

        <b class="select-plan">Checkout</b>
    </div>
    <div class="content2">
        <div class="content-child"></div>
    </div>
    <div class="steps2">
        <img class="step-items-icon"
             loading="lazy"
             alt=""
             src="images/frame-1918723854.svg" />

        <b class="select-plan">Complete</b>
    </div>
</div>
<div class="all-wrapper">
    <div class="component-331">
        <div class="component-331-inner">
            <div class="payment-parent">
                <div class="payment">Payment</div>
                <div class="payment-separator"></div>
            </div>
        </div>
        <div class="component-331-child">
            <div class="pay-with-parent">
                <div class="pay-with">Pay With:</div>
                <div class="card-parent">
                    <div class="card">

                        <input id="pay" value="1" class="choose-pay" name="pay" type="radio" checked="checked" />

                        <label for="pay" class="card1">Card</label>
                    </div>
                    <div class="bank">
                        <input id="pay2" class="choose-pay" value="2" name="pay" class="component-330" type="radio" />

                        <label for="pay2" class="card1">Bank</label>
                    </div>
                </div>
            </div>
        </div>
        <section class="frame-parent " id="pay-with-card">
            <div class="card-number-input-parent">
                <div class="card-number-input">
                    <div class="card-number">Card Number</div>
                    <p class="card-number-placeholder"
                       placeholder="1234  5678  9101  1121">
                        1234  5678  9101  1121
                    </p>
                </div>
                <div class="card-number-icon">
                    <input id="select-card" class="component-330" type="radio" />

                    <label for="select-card" class="card1"></label>
                </div>
            </div>
            <div class="frame-wrapper" id="card-info">
                <div class="username-input-parent">
                    <div class="username-input">
                        <div class="username-input-container">
                            <div class="card-number1">Card Number</div>
                            <div class="component-66">
                                <input class="username-dropdown"
                                       placeholder="1234  5678  9101  1121"
                                       type="text" />

                            </div>
                        </div>
                        <div class="security-details-inputs-parent">
                            <div class="pay-with-parent">
                                <div class="expiration-date">Expiration Date</div>
                                <div class="component-661">
                                    <input class="username-dropdown"
                                           placeholder="MM/YY"
                                           type="text" />
                                </div>
                            </div>
                            <div class="pay-with-parent">
                                <div class="expiration-date">CVV</div>
                                <div class="component-662">
                                    <input class="username-dropdown"
                                           placeholder="123"
                                           type="text" />

                                </div>
                            </div>
                        </div>
                        <div class="component-132-parent">
                            <div class="save-card-details">
                                <input id="save-card" class="component-132" type="checkbox" />
                                <div class="save-card-details-child"></div>

                                <label for="save-card" class="save-card-details1">Save card details</label>
                            </div>
                        </div>
                    </div>
                    <div class="component-283-parent">
                        <div class="component-283" onclick="goToOtp();">


                            <b class="post-ad">
                                Pay
                                <span class="discount hide">
                                    @price_discount_vat SAR
                                </span>
                                <span class="non-discount">
                                    @price_vat SAR
                                </span>
                                </b>
                        </div>
                        <div class="your-personal-data">
                            Your personal data will be used to process your order, support
                            your experience throughout this website, and for other purposes
                            described in our privacy policy.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="frame-parent hide" id="pay-with-bank">

            <div class="frame-wrapper">

                <div class="username-input-parent">
                    <div class="username-input">
                        <div class="username-input-container">
                            <div class="card-number1">Bank Name</div>
                            <div class="component-66">
                                <input class="username-dropdown"
                                       placeholder="1234  5678  9101  1121"
                                       type="text" />


                            </div>
                        </div>

                        <div class="username-input-container">
                            <div class="card-number1">Bank Account Number </div>
                            <div class="component-66">
                                <input class="username-dropdown"
                                       placeholder="1234  5678  9101  1121"
                                       type="text" />


                            </div>
                        </div>


                    </div>
                    <div class="component-283-parent">
                        <a class="component-283 non-discount" href="@Url.Action("CheckoutComplete", "Subscription" , new {package = Model.Packages.FirstOrDefault().Id, price = price_vat, isNew = true, isRenew= ViewBag.isRenew})">

                            <b class="post-ad">
                                Pay
                            
                                <span class="non-discount">
                                    @price_vat SAR
                                </span>
                            </b>
                        </a>

                        <a class="component-283 discount hide" href="@Url.Action("CheckoutComplete", "Subscription" , new {package = Model.Packages.FirstOrDefault().Id, price = price_discount_vat , isNew = true, isRenew= ViewBag.isRenew})">

                            <b class="post-ad">
                                Pay
                                <span>
                                    @price_discount_vat SAR
                                </span>
                               
                            </b>
                        </a>
                        <div class="your-personal-data">
                            Your personal data will be used to process your order, support
                            your experience throughout this website, and for other purposes
                            described in our privacy policy.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="frame-parent hide" id="card-otp">

            <div class="frame-wrapper">
                <div class="username-input-parent">
                    <div class="username-input">

                        <div class="security-details-inputs-parent_otp">
                            <div class="expiration-date">Enter your 6-digit card pin to confirm this payment</div>

                            <div class="pay-with-parent_otp">
                                <div class="component-661_otp">
                                    <input class="username-dropdown"
                                           placeholder="0"
                                           type="number"
                                           maxlength="1" />
                                </div>
                                <div class="component-661_otp">

                                    <input class="username-dropdown"
                                           placeholder="0"
                                           type="number"
                                           maxlength="1" />
                                </div>
                                <div class="component-661_otp">

                                    <input class="username-dropdown"
                                           placeholder="0"
                                           type="number"
                                           maxlength="1" />
                                </div>
                                <div class="component-661_otp">

                                    <input class="username-dropdown"
                                           placeholder="0"
                                           type="number"
                                           maxlength="1" />
                                </div>
                                <div class="component-661_otp">

                                    <input class="username-dropdown"
                                           placeholder="0"
                                           type="number"
                                           maxlength="1" />
                                </div>
                                <div class="component-661_otp">

                                    <input class="username-dropdown"
                                           placeholder="0"
                                           type="number"
                                           maxlength="1" />
                                </div>
                            </div>
                        </div>
                        <div class="timer">
                            <div id="counter">00 : 59</div>
                        </div>

                    </div>
                    <div class="component-283-parent">
                     
                        <div class="non-discount">
                            <a class="component-283" href="@Url.Action("CheckoutComplete", "Subscription" , new {package = Model.Packages.FirstOrDefault().Id, price = price_vat, isNew = true})">

                                <b class="post-ad">
                                    Pay
                                    <span class="non-discount">
                                        @price_vat SAR
                                    </span>
                                </b>
                            </a>
                        </div>
                        <div class="discount hide">
                            <a class="component-283" href="@Url.Action("CheckoutComplete", "Subscription" , new {package = Model.Packages.FirstOrDefault().Id, price = price_discount_vat, isNew = true})">

                                <b class="post-ad">
                                    Pay
                                    <span>
                                        @price_discount_vat SAR
                                    </span>

                                </b>
                            </a>
                        </div>
                      
                        <div class="resend hide">
                            <a onclick="goToOtp ();">
                                Re-send verification code
                            </a>
                        </div>

                        <div class="your-personal-data">
                            Your personal data will be used to process your order, support
                            your experience throughout this website, and for other purposes
                            described in our privacy policy.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="root5">
        <section class="input-fields-wrapper">
            <div class="input-fields1">
                <div class="coupon-field">
                    <h3 class="discount-code">Discount Code</h3>
                    <div class="enter-your-coupon">Enter your coupon here</div>
                </div>
                <div class="component-66-parent">
                    <div class="component-665">
                        <input class="username-component"
                               placeholder="3415316831"
                               type="text" />


                    </div>
                    <button class="component-284" onclick="applyDiscount()">


                        <b class="post-ad2">Apply</b>
                    </button>
                </div>
            </div>
        </section>
        <section class="summary-container-wrapper">
            <div class="summary-container">
                <div class="summary-header">
                    <h3 class="order-summary">Order Summary</h3>
                    <div class="summary-header-child"></div>
                </div>
                <div class="order-description-parent">
                    <div class="order-description">
                        <div class="description">Description</div>
                        <div class="semi-premium-net">
                            @Model.Name , @Model.Packages.FirstOrDefault().Name
                        </div>
                    </div>
                    <div class="order-pricing">
                        <div class="pricing-details">
                            <div class="pricing-breakdown">
                                <div class="price-labels">
                                    <div class="subtotal">Subtotal</div>
                                    <div class="vat discount hide">Discount 10%</div>
                                    <div class="vat">vat</div>
                                </div>
                            </div>
                            <div class="vat">Total</div>
                        </div>
                        <div class="currency-container">
                            <div class="sar42">@price SAR</div>
                            <div class="div24 discount hide">
                                <span> @discount_val SAR</span>

                            </div>
                            <div class="amount-container">
                                <div class="sar43">
                                    <span class="discount hide">
                                        @price_discount_vat_val SAR
                                    </span>
                                    <span class="non-discount">
                                        @price_vat_val SAR
                                    </span>

                                </div>
                            </div>
                            <b class="sar44">
                                <span class="discount hide">
                                    @price_discount_vat SAR
                                </span>
                                <span class="non-discount">
                                    @price_vat SAR
                                </span>
                            </b>
                        </div>
                       
                    </div>
                </div>
                
            </div>
    </section>
</div>
</div>

<script>
    $(document).ready(function() {
        // Use jQuery's .on() method to handle change event
        $('.choose-pay').on('change', function() {
            // 'this' refers to the changed radio button
            if ($(this).val() === "1") {
                $("#pay-with-bank").addClass('hide');
                $("#pay-with-card").removeClass('hide');
            } else if ($(this).val() === "2") {
                $("#pay-with-card").addClass('hide');
                $("#pay-with-bank").removeClass('hide');
            }
        });

    });

    function applyDiscount (){
         $(".non-discount").addClass('hide');
         $(".discount").removeClass('hide');
    }


       function goToOtp ()
        {
            $("#pay-with-card").addClass('hide');
            $("#card-otp").removeClass('hide');
             let duration = 59; // countdown from 59 seconds

        const timerInterval = setInterval(function () {
            let minutes = Math.floor(duration / 60);
            let seconds = duration % 60;

            // Pad with zero if needed
            let formatted = `${minutes.toString().padStart(2, '0')} : ${seconds.toString().padStart(2, '0')}`;
            $("#counter").text(formatted);

            if (duration <= 0) {
                clearInterval(timerInterval);
                $(".resend").removeClass('hide');
                // Optional: do something when countdown finishes
                console.log("Timer finished!");
            }

            duration--;
        }, 1000); // update every second

        }
</script>